/* Inria serif */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Paprika */
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button,
  span {
    @apply text-dark_primary dark:text-[#EAF2FA];
  }
  h1 {
    @apply font-Poppins lg:text-6xl text-3xl font-extrabold;
  }
  h2 {
    @apply font-Inria text-5xl font-bold;
  }
  h3 {
    @apply font-Paprika text-5xl;
  }
  h4 {
    @apply md:text-4xl text-3xl !leading-relaxed font-Paprika;
  }
  h6 {
    @apply font-Paprika font-bold text-[#253D57] leading-8;
  }

  p {
    @apply font-Poppins text-[0.95rem];
  }
  button {
    @apply font-Poppins;
  }
  input,
  textarea {
    @apply bg-transparent outline-none font-Poppins;
  }
}

@layer utilities {
  .btn {
    @apply py-2 px-9 border-2 rounded-md
     border-dark_primary rounded-br-3xl font-medium dark:border-slate-400;
  }
  .title {
    @apply md:text-3xl text-2xl;
  }
  .subtitle {
    @apply text-gray;
  }
}
.swiper-pagination-bullet {
  @apply w-3 h-3 bg-dark_primary;
}

.toggle-bg:after {
  content: "";
  @apply absolute top-0.5 left-0.5 bg-white border border-gray rounded-full h-5 w-5 transition shadow-sm;
}
input:checked + .toggle-bg:after {
  transform: translateX(100%);
  @apply border-white;
}
input:checked + .toggle-bg {
  @apply bg-blue-600 border-blue-600;
}

.dark .swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.dark .swiper-pagination-bullet {
  background-color: #fff !important;
}

:root {
  --hue-color: 220;
  --primary: #1a202c;
  --secondary: #bbcff4;
  --primary_darkz: #14191f;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 60%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 30%);
}

body.dark {
  --scroll-bar-color: hsl(var(--hue-color), 12%, 30%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 60%);
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

body,
html {
  overflow-x: hidden !important;
}
